<!-- Footer Section -->
<section class="footer-section">
    <div class="footer-content">
        <div class="footer-links">
            <p class="mt-3" style="font-weight: bold;">* Salad & Soup only for Dine In</p>
            <h3 class="footer-title">TAUTAN</h3>
            <div class="footer-links-group">
                <div class="footer-links-column">
                    <p class="footer-text"><a href="/perusahaan">Tentang Kami</a></p>
                    <p class="footer-text"><a href="/contact/users">Kontak Kami</a></p>
                </div>
                <div class="footer-links-column-2">
                    <p class="footer-text"><a href="/syarat & ketentuan">Syarat dan Ketentuan</a></p>
                    <p class="footer-text"><a href="/kebijakan_privasi">Kebijakan Privasi</a></p>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="footer-logo">
        <img src="images/deliver.png" alt="Logo footer" class="gambar-footer">
    </div>
    <div class="footer-sosmed">
        <p class="footer-text ikuti-kami">IKUTI KAMI</p>
        <img src="images/yt.png" alt="Logo YouTube">
        <img src="images/tweet.png" alt="Logo Twitter">
        <img src="images/fb.png" alt="Logo Facebook">
        <img src="images/ig.png" alt="Logo Instagram">
        <img src="images/tiktok.png" alt="Logo TikTok">
        <img src="images/wa.png" alt="Logo WhatsApp">
    </div>
    <!-- Tambahkan gambar-gambar sosial media tambahan di sini -->
    <img src="images/dw_app.png" alt="Extra Image 1" class="sosmed-extra-1">
    <img src="images/dw_gugel.png" alt="Extra Image 2" class="sosmed-extra-2">
    <div class="text-footer">
        <p>Semua gambar dan materi dilindungi hak cipta dan merupakan milik PT Eka Bogainti.
            Penggunaan dan / atau duplikasi gambar dan materi ini tanpa izin adalah melanggar hukum.</p>
    </div>

    <img src="images/frame_bawah.png" alt="backgorund footer" class="bg-footer">
</section>
